.auth {
  display: flex;
  flex-direction: column;
  padding: 56px 30px 30px;
  height: 100%;
  transition: 0.5s ease;
}

.auth__logo {
  margin-bottom: 50px;
  align-self: center;
}

.auth__form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  max-width: 396px;
  min-height: 497px;
}

.auth__form-container {
  border: none;
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.auth__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 157px;
}

.button_type_auth {
  max-width: 396px;
  width: 100%;
  height: 45px;
  font-size: 12px;
  line-height: 15px;
}

.auth__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a0a0a0;
  margin: 0;
  margin-top: 14px;
}

.auth__link {
  color: #3456f3;
}

.auth__error {
  color: #ee3465;
}

.button__invalid {
  cursor: default;
  pointer-events: none;
  background-color: #e6e4e4;
  color: #a0a0a0;
  border: 1px solid rgba(139, 139, 139, 0.2);
}

@media screen and (min-width: 768px) {
  .auth {
    padding: 232px 186px;
    width: 396px;
    margin: 0 auto;
  }
  .auth__logo {
    margin-bottom: 40px;
    align-self: flex-start;
  }
  .auth__button-container {
    padding-top: 69px;
  }

  .auth__form {
    margin-top: 40px;
    min-height: 413px;
  }
}

@media screen and (min-width: 1280px) {
  .auth {
    padding: 70px 442px;
  }
}
