.navtab {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: .4s ease;
  margin-bottom: 66px;
}

.navtab__button {
  padding: 0;
  border: 1px solid rgb(0,0,0,0.6);
  border-radius: 3px;
  background-color: transparent;
  width: 129px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navtab {
    margin-bottom: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .navtab {
    justify-content: flex-start;
    margin-bottom: 111px
  }

  .navtab__button {
    margin-left: 70px;
  }
}