.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 14px;
  transition: 0.4s linear;
}

.header__logo {
  background-image: url(../../images/logo/logo.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

.header_type_main {
  background-color:#DDDEE3;
}


@media screen and (min-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .header { 
    padding: 0 70px;
  }
}