.profile {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__main {
  padding: 70px 30px 40px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: max-content;
  width: 100%;
  min-height: calc(100vh - 74px);
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.profile__form-container {
  display: grid;
  padding: 0;
  margin: 0;
  border: none;
  grid-gap: 17px;
  width: 100%;
}

.profile__button-container {
  display: grid;
  align-self: center;
  grid-gap: 16px;
  width: 100%;
  padding-top: 220px;
}

.profile__button {
  border: none;
  background-color: unset;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.profile__button_exit {
  color: #EE3465;
}

@media screen and (min-width: 470px) {
  .profile__form {
    width: 410px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .profile__main  {
    padding: 236px 179px 269px;
    margin: 0 auto;
    transition: .5s ease;
  }

  .profile__form {
    margin-top: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__main {
    padding: 74px 435px 70px;
  }

  .profile__form {
    margin-top: 123px;
  }
}